{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    {% if orders|length == 0 %}
        <div class="row" align="center">
            Заказов не поступало
        </div>
    {% else %}
        {% for order in orders %}
            <div class="card w-50" id="{{ order['id'] }}" >
                <div class="card-body">
                    <h5 class="card-title">{{ order['time'] }}</h5>
                    <p class="card-text"> Что заказано : {{order['items'] }}</p>
                    <p class="card-text"> Имя клиента : {{ order['name'] }}</p>
                    <p class="card-text"> Адрес клинета : {{ order['address'] }}</p>
                    <div class="d-flex justify-content-between">
                        <ul class="nav nav-pills" align="сenter">
                            <li> Состояние: </li>
                            <li>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>В обработке</option>
                                    <option>Готовится</option>
                                    <option>Отправлено</option>
                                    <option>Доставлено</option>
                                </select>
                            </li>
                        </ul>
                        <button class="btn btn-light delete-order" id="{{ order['id'] }}">Удалить</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}