{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        {% set used = [] %}
        {% for i in list %}
            {% if i in used %}
{#                {% raw %}#}
                <script>
                    add_value('quant[{{ i }}]');
                    $('#quant[{{ i }}]').val('changed Value');

                </script>

{#                    	<script language="JScript">#}
{#                        fff#}
{#                            document.getElementById('quant[{{ i }}]').value = 5#}
{#                        </script>#}
{#                {%  endraw %}#}
                {% continue %}
            {% else %}
                {%  do used.append(i) %}
            {% endif %}
            <div class="row">
            {% set pizza=get_pizza_by_id(i) %}
                <div class="col-lg-1  offset-lg-5 item">{{ pizza['name'] }}
                </div>
                <div class="col-lg-1">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[{{ i }}]">
                                <span class="min glyphicon glyphicon-minus">-</span>
                            </button>
                        </span>
                        <input type="text" name="quant[{{ i }}]" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[{{ i }}]">
                                <span class="glyphicon glyphicon-plus">+</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}